body {
        font-family: Arial, Helvetica, sans-serif;
      max-width: 950px;
      margin: 0 auto;
    }
    
    .siteheader {
      text-align: left;
      padding: 1rem 1rem;
    }
    .siteheader h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }
    
    .emojis {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
      padding: 1.5rem;
    }
    
    .emoji {
      border: 1px solid hsl(0, 0%, 0%);
      border-radius: 8px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    
    .icon {
      font-size: 5rem;
      align-self: center;
      margin-bottom: 1rem;
      order: -1;
    }
    
    .emoji h2 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #ddd;
    }
    
    .emoji p {
      font-size: 0.9375rem;
      line-height: 1.6;
      color: #292929;
      margin-bottom: 1rem;
      flex-grow: 1;
    }
    
    .emoji a {
      display: block;
      text-align: left;
      background: #7c27f0;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      padding: 0.75rem;
      border-radius: 4px;
      margin-top: auto;
    }